<html ng-app="homeApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewPort" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/lib/bootstrap.min.css">
    <script src="/javascripts/lib/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/lib/bootstrap.min.js"></script>
    <script src="/javascripts/lib/angular/angular.min.js"></script>
    <script src="/javascripts/lib/angular/angular-route.min.js"></script>
    <script src="/javascripts/angular/factory/userDetails.js"></script>
    <script src="/javascripts/angular/homeApp.js"></script>
    <script src="/javascripts/angular/controller/homeController.js"></script>
    <title>Home</title>
</head>
<body>
<div ng-view=""></div>
</body>
</html>